body {
    margin: 0px;
    padding: 0px;
}
.h1general {
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: 2s;
}
.h4comment {
    color: white;
    font-family:'Poppins', sans-serif;
    text-align: center;
    transition: 2s
}

.pwhite {
color: white;
text-align: center;
transition: 2s
}

td, th {
  color: white
}

pre code {
  background-color: black;
  border: 1px solid #eee;
  display: block;
}
 
#darknavbarpti {
    height: 40px;
    width: 40px;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: 2s
}
body {
    background-color: black
}

.textbox {
align-items: center;
background: 50px;
background-color: #0d0d0d;
color: white;
width: 200px;
height: 250px;
}

.pnews {
    font-family: 'Courier New';
    color: white;
    text-align: left;
}

.dark {
    color: 013214
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    size: 128px
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
.dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }